<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book</title>
    <!-- not needed with updated wireframe
        <style>
            div.scroll {
                width: 300px;
                height: 200px;
                overflow: scroll;
            }
    </style> -->
</head>
<body>
    <div>
        <h1>Welcome {{current_user.firstname}} </h1>
        <!--Below is routing url. "url" leads to the url file in the app folder, not project url. after it 
        goes to app name then the route in small url  -->
        <a href="{% url 'belt_app:add_book' %}">Add Book and Review</a>
        <a href="{% url 'belt_app:logout' %}">Logout</a>
        <!-- links above, started with buttons, but asking for links -->
        <!-- <form action="add_book" method="POST">
                {% csrf_token %}
                <input type="submit" name="add_book" value="add_book">
        </form>
        <form action="logout" method="POST">
                {% csrf_token %}
                <input type="submit" name="logout" value="logout"> -->
        <!-- </form> -->
    </div>
    <!-- ################################################################# -->
    <div>
        <div><h3>Your Bookshelf:</h3>

            {% if reviews %}
            <ul class="messages">
            {% for each in commentedbooks %}
            <!-- passing normal URL from routes, passing variable to show book -->
                <p><a href='reviewed/{{each.id}}'>{{each.title}}</a></p>
                {% for rating in personal %}
                <p>rating : {{each.personal}}</p>
                {% endfor %}
                <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </li> -->
                {% endfor %}
            </ul>
            {% endif %}
            
        </div>
        <!--#############################################################  -->
        <div><h1>Other Books</h1>
            <table>
                <tr>
                    <th>Book</th>
                    <th>Author</th>
                    <th>Rating</th>
                    <th>Actions</th>                    
                </tr>
                {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    {% for rating in nonrated %}
                    <td>{{nonrated.rating}}</td>
                    {% endfor %}
                                        
                    <td>{% for each in nonrated %}
                        {% if user in nonrated.commentedby.all %}
                        <a href="/add_book/{{ nonrated.id }}">Add to shelf</a>                        
                        <a href="/make_review/{{ nonrated.id }}">Review</a>
                        {% else %}
                        <a href="/make_review/{{ nonrated.id }}">Review</a>
                        {% endif %} 
                        {% endfor %}                       
                    </td>
                </tr>
                {% endfor %}
            </table>
            <!-- <div class="scroll">
                
            </div> -->
        </div>
    </div>

</body>
</html>