<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add trip page</title>
</head>
<body>
        <a href= "{% url 'sunday_test_project:logout' %}">Logout</a>
        <a href= "{% url 'sunday_test_project:homepage' %}">homepage</a>
    <h1>ADD A TRIP!</h1>
    <div>
            {% if messages %}
            <ul> 
                {% for message in messages %}                
                   <li> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    <div>
        <form action= "{% url 'sunday_test_project:collect_data' %}" method="POST">
                {% csrf_token %}
                location:<br>
                
                <input type="text" name="location" >
                <br>
                description:<br>
                <input type="text" name="description" >
                <br>
                travel date from:<br>
                <input type="date" name="date_from">
                <br>             
                travel date to:<br>
                <input type="date" name="date_to" >
                <br>                
                <input type="submit" value="add">
            </form> 
    </div>
</body>
</html>