<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add item page</title>
</head>
<body>
    <h1>CREATE A NEW WISH LIST product</h1>
    <div>
        <form action= "{% url 'practicewishlist:add_wish_page' %}" method="POST"> 
            {% csrf_token %}
            item:<br>
            <!-- input means form -->
            <input type="text" name="item_name">
            <br>            
            <input type="submit" value="add">
        </form>  
    </div>

    
</body>
</html>