<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assignment: Python: hellow world</title>

    <!-- <link rel="stylesheet" type="text/css" href="pokemon2.css"> -->
    <!-- <script type="text/javascript" src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script> -->
    <!-- <script src="pokemon2.js"></script> -->
</head>
<body>
  <div class="wrapper">
        <div class="x">
            <p style="color:blue;font-size:46px;">Hello World!</p>
            <p>My name is candyclown</p>
        </div>
        
        <div class="y">
            
        </div>
    </div>    
</body>
</html>