<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create User</title>
    <style>
    </style>
</head>
<body>
    <div class="create_user">
        <h1>Add A New User</h1>
        <form action="{% url 'users_app:create' %}" method="post">
            {% csrf_token %}
            First Name:<input type="text" name="first_name"><br>
            Last Name:<input type="text" name="last_name"><br>
            Email:<input type="email" name="email"><br>
            <input type="submit" value="Create"><br>
        </form>
        <button><a href="/">Go Back</a></button>
        </div>
</body>
</html>