<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adding Item</title>
</head>
<body>
     <a href='{% url 'wishlist:index' %}'><button>Home</button></a>
    <h1>Create A New Wishlist Item</h1>
   
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %} {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Submit Form -->
    <form id="addingitem" action='{% url 'wishlist:submititem' %}' method="post">
        {% csrf_token %}
        <label for="product">Item/Product:</label>
        <input type="text" name="product" value="">
        <br>
        <input type="submit" name="" value="Add">
    </form>
</body>
</html>