<body>
    <div class="wrapper">
        <div class="x">
            <p style="color:blue;font-size:46px;">you've landed!!!!!!!!</p>
            <p>your web browsing has been delayed!!!!!!!!!</p>
        </div>
        
        <div class="y">
            <form action="/process"  method='post'>
                Name: <input type='text' name='name'>
                Email: <input type='text' name='email'>
            <input type='submit' value='create user'>
            </form>
        </div>
    </div>    
</body>
</html>