<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>DOCUMENT</title>
    
</head>
<body>
    <a id="back" href="{% url 'travel:index' %}">Home</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    <h2>Add a Trip</h2>
    <form action="{% url 'travel:create' %}" method="post">
        {% csrf_token %}
        <label>Destination</label>
        <input type="text" name="destination">
        <label>Description</label>
        <textarea name="plan"></textarea>
        <label>Travel Date From:</label>
		<input class="date" type='date' name='date_from'>
		<label>Travel Date To:</label>
		<input class="date" type='date' name='date_to'>
        <button type="submit">Add</button>
    </form>
    {% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>
