<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
</head>
<body>
    <a id="back" href="{% url 'travel:index' %}">Home</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    <h2>{{ trip.destination }}</h2>
    <ul id="trip">
        <li>Planned By:</li><p>{{ trip.user.name}}</p>
        <li>Description:</li><p>{{ trip.plan }}</li>
        <li>Travel Date From:</li><p>{{ trip.date_from }}</p>
        <li>Travel Date To:</li><p>{{ trip.date_to  }}</p>
    </ul>
    <h3>Other Users' joining the trip:</h2>
    <ul id="other">
    {% for user in others %}
        <p>{{ user.name }}</p>
    {% endfor %}
    </ul>
</body>
</html>
